/* Reset css starts */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.hide-web {
  display: none !important;
}

.show-web {
  display: block !important;
}

p {
  font-size: 14px;
}

img,
iframe,
a {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-blue);
}

button {
  outline: none;
}

a:focus-visible,
.btn:focus-visible,
button:focus-visible {
  outline: -webkit-focus-ring-color auto 1px !important;
  outline-offset: 1px !important;
}

* {
  box-sizing: border-box;
}

.slick-slide {
  outline: none !important;
}

/* Reset css end */
@font-face {
  font-family: "opensan-regular";
  src: url("../fonts/OpenSans-reg.ttf") format("truetype"), url("../fonts/OpenSans-reg.woff") format("woff"), url("../fonts/OpenSans-reg.woff2") format("woff2"), url("../fonts/OpenSans-reg.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "opensan-regular-bold";
  src: url("../fonts/OpenSans-reg.ttf") format("truetype"), url("../fonts/OpenSans-reg.woff") format("woff"), url("../fonts/OpenSans-reg.woff2") format("woff2"), url("../fonts/OpenSans-reg.eot") format("eot");
  font-display: swap;
  font-weight: 700;
}
.form-control:focus {
  background-color: transparent !important;
  border-radius: 8px !important;
  outline: unset !important;
}

.bg-black {
  background-color: #000000;
}

.player-inactive {
  display: none !important;
}

.player-active {
  display: flex !important;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Set the color of the handle and track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 15px;
}

/* Container */
.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container-sm {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

body {
  background-color: #111B58;
  background-image: url("../images/bg-left.png"), url("../images/bg-right.png");
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: 20%;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/back-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login-container {
  padding: 18px 100px;
}
.login-container img {
  float: left;
}
.login-container p {
  float: right;
  font-family: "opensan-regular";
  color: #ffffff;
  width: 114px;
  height: 24px;
  margin-top: 14px;
}
.login-container p a {
  display: flex;
  font-size: 12px;
}
.login-container p a img {
  margin-right: 8px;
}

.back-step-container {
  padding: 18px 100px;
}
.back-step-container p {
  transition: 1s;
}
.back-step-container p a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "opensan-regular-bold";
  font-size: 18px;
  line-height: 24px;
}
.back-step-container p a i {
  display: block;
  position: relative;
  margin-right: 27px;
}
.back-step-container p:hover i {
  right: 10px;
}

.left-container {
  padding: 18px 30px 0px 100px;
  width: 910px;
}
.left-container .budget-parent .budget-child1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-container .budget-parent .budget-child1 .budget-text p {
  color: #ffffff;
  font-size: 9px;
  font-family: "opensan-regular";
  line-height: 12px;
}
.left-container .budget-parent .budget-child1 .budget-text p:nth-child(2) {
  font-size: 16px;
  font-family: "opensan-regular-bold";
  line-height: 21px;
}
.left-container .budget-parent .budget-child1 .budget-btn .btn {
  border: 1px solid;
  border-radius: 8px;
  color: #ffffff;
  font-family: "opensan-regular";
}
.left-container .budget-parent .budget-child1 .budget-btn .btn:nth-child(1) {
  padding: 13px 17px;
  background: rgba(180, 3, 58, 0.2);
  border: 1px solid #B4033A;
}
.left-container .budget-parent .budget-child1 .budget-btn .btn:nth-child(2) {
  padding: 10px 17px;
  background: rgba(180, 3, 58, 0.2);
  border: 1px solid #B4033A;
}
.left-container .budget-parent .budget-child1 .budget-btn .btn:nth-child(3) {
  padding: 10px 75px;
  color: #111948;
  background-color: #FFD037;
  font-family: "opensan-regular-bold";
}
.left-container .budget-parent .budget-child2 {
  display: flex;
  flex-direction: column;
}
.left-container .budget-parent .budget-child2 .price-section {
  margin-top: 18px;
}
.left-container .budget-parent .budget-child2 .price-section .nav-pills {
  background-color: #041332;
  border-radius: 4px;
}
.left-container .budget-parent .budget-child2 .price-section .nav-pills li {
  color: #ffffff;
  font-size: 12px;
  font-family: "opensan-regular";
  line-height: 12px;
  border-radius: 4px;
}
.left-container .budget-parent .budget-child2 .price-section .nav-pills li a {
  padding: 8px 82px;
  border-radius: 4px;
}
.left-container .budget-parent .budget-child2 .price-section .nav-pills li a.active {
  background-color: #590320;
}
.left-container .budget-parent .budget-child2 .adidas-logo img {
  width: 432px;
}
.left-container .budget-parent .budget-child2 .filed-section {
  height: 389px;
  background-image: url("../images/field-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 100%;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-control-next-icon {
  background-image: url("../images/icons/Back.svg") !important;
  background-repeat: no-repeat;
  position: relative;
  left: 38px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .cc-btn {
  width: 122px !important;
  height: 35px !important;
  top: 316px !important;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  opacity: 1 !important;
  font-family: "opensan-regular";
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .cc-btn .carousel-indicators {
  right: -20px !important;
  bottom: 37px !important;
  left: -49px !important;
  font-size: 16px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .cc-btn .carousel-indicators li {
  text-indent: 0px !important;
  background-color: transparent !important;
  position: absolute !important;
  width: 100px !important;
  opacity: 0;
  letter-spacing: 5px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .cc-btn .carousel-indicators .active {
  opacity: 1;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-control-next {
  right: 0px !important;
  left: 37px !important;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner {
  margin-left: 20px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 {
  margin-top: 18px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-remove {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join {
  margin-right: 29px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join:hover {
  cursor: pointer;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join .remove-player {
  position: absolute;
  z-index: 28;
  right: 20px;
  top: 5px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join label.add-btn {
  padding: 1px 21px;
  font-size: 10px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join label.add-btn:nth-child(3) {
  background-color: #590320;
  padding: 1px 21px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join .add-ply-img {
  position: relative;
  top: 5px;
  z-index: 15;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join .add-btn {
  z-index: 20;
  padding: 3px 19px;
  background-color: #111948;
  color: #FFD037;
  font-family: "opensan-regular";
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 10px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-unjoin {
  margin-right: 29px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-unjoin:hover {
  cursor: pointer;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-unjoin .remove-player {
  position: absolute;
  z-index: 28;
  right: 20px;
  top: 5px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-unjoin label.add-btn {
  padding: 1px 21px;
  font-size: 10px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-unjoin label.add-btn:nth-child(3) {
  background-color: #590320;
  padding: 1px 21px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-unjoin .add-ply-img {
  position: relative;
  top: 5px;
  z-index: 15;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-unjoin .add-btn {
  z-index: 20;
  padding: 3px 19px;
  background-color: #111948;
  color: #FFD037;
  font-family: "opensan-regular";
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 10px;
}
.left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position2 {
  margin-top: 0px;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer {
  margin-top: 20px;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 {
  background-color: #041332;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1:nth-child(1) {
  margin-right: 26px;
  border-radius: 10px;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1:nth-child(2) {
  border-radius: 10px 0px 0px 10px;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1:nth-child(4) {
  border-radius: 0px 10px 10px 0px;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 .player-add .player-join2 {
  padding: 13px;
  margin-right: 12px;
  margin-left: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 .player-add .player-join2 .add-ply-img {
  position: relative;
  top: 5px;
  z-index: 15;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 .player-add .player-join2 .add-btn {
  z-index: 20;
  padding: 3px 19px;
  background-color: #111948;
  color: #FFD037;
  font-family: "opensan-regular";
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 10px;
}
.left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 .player-add .player-join2 .player-cat {
  font-size: 12px;
  font-family: "opensan-regular-bold";
  color: #ffffff;
  margin-top: 21px;
}

.right-container {
  width: 440px;
  background-color: #590320;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
}
.right-container .right-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.right-container .right-header span {
  color: #ffffff;
  font-family: "opensan-regular";
  font-size: 14px;
  line-height: 24px;
}
.right-container .right-header button {
  font-size: 16px;
  font-family: "opensan-regular";
  color: #FFD037;
  background-color: transparent;
  border: none;
  overflow: unset;
  text-decoration: underline;
  line-height: 24px;
}
.right-container .player-form-section {
  background-color: #2c0110;
}
.right-container .player-form-section .tabel-section .table .thead tr th {
  color: #ffffff;
  font-size: 12px;
  font-family: "opensan-regular-bold";
  line-height: 12px;
  background-color: #47021a;
}
.right-container .player-form-section .tabel-section .table tbody {
  max-width: 300px;
}
.right-container .player-form-section .tabel-section .table tbody tr {
  background-color: #590320;
  color: #ffffff;
  font-family: "opensan-regular";
  font-size: 14px;
}
.right-container .player-form-section .tabel-section .table tbody tr td {
  vertical-align: middle;
}
.right-container .player-form-section .tabel-section .table tbody tr td p {
  position: relative;
  left: -50px;
}
.right-container .player-form-section .tabel-section .table tbody tr td p:nth-child(2) {
  font-size: 12px;
  left: -47px;
}
.right-container .player-form-section .tabel-section .table tbody tr:nth-child(2) {
  background-color: #340e3c;
  background-image: url("../images/player-bg.png");
  background-repeat: no-repeat;
}
.right-container .player-form-section .tabel-section .table tbody tr td.view-more {
  color: #FFD037;
  font-size: 14px;
  line-height: 12px;
  position: relative;
  padding: 16px 0px;
}
.right-container .player-form-section .tabel-section .table tbody tr td.view-more a {
  margin-right: 10px;
  margin-right: 10px;
}
.right-container .player-form-section .tabel-section .table tbody tr td.view-more::after {
  content: " ";
  background-image: url("../images/icons/yellow-back.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: -20px;
  top: 15px;
}
.right-container .player-form-section .player-form {
  padding: 16px;
}
.right-container .player-form-section .player-form .row1 {
  display: flex;
}
.right-container .player-form-section .player-form .form-group {
  flex-grow: 1;
  display: inline;
}
.right-container .player-form-section .player-form .form-group .search-box {
  background: transparent;
  background-color: #562b18;
  font-family: "opensan-regular";
  color: #ffffff;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 96% 62%;
}
.right-container .player-form-section .player-form .form-group label {
  color: #ffffff;
  font-family: "opensan-regular";
  font-size: 12px;
  margin-bottom: 5px;
  padding-left: 12px;
}
.right-container .player-form-section .player-form .form-group select.form-control {
  background-color: transparent;
  border-radius: 8px;
  outline: unset;
  font-family: "opensan-regular";
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: url("../images/icons/down-arrow.svg") no-repeat center;
  background-position: 92% 62%;
}
.right-container .player-form-section .player-form .form-group select.form-control option {
  background-color: #111B58;
}

@media (max-width: 576px) {
  body {
    background-size: 64%;
  }
  .header-section {
    background-color: transparent;
  }
  .header-section .back-step-container {
    padding: 0px;
  }
  .header-section .back-step-container p a i {
    display: block;
    position: relative;
    margin-right: 86px;
    right: 13px;
  }
  .left-container {
    padding: 0px;
    width: 360px;
  }
  .left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1:nth-child(1) {
    margin-right: 16px;
    border-radius: 10px;
  }
  .left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 .player-add .player-join2 {
    padding: 5px 0px 5px 0px;
  }
  .left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 .player-add .player-join2 img {
    width: 32px;
  }
  .left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 .player-add .player-join2 .add-btn {
    font-size: 9px;
    padding: 3px 6px;
  }
  .left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer .player-position1 .player-add .player-join2 .player-cat {
    margin-top: 10px;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join .add-ply-img {
    width: 32px;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 .player-add .player-join .add-btn {
    padding: 3px 6px;
    font-size: 9px;
  }
  .left-container .budget-parent .budget-child2 .filed-section {
    background-image: url(../images/mob-field-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner {
    margin-left: 0px;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position1 {
    margin-top: 37px;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-inner .carousel-item .player-position2 {
    margin-top: 20px;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-control-next {
    left: 0px !important;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid #ffffff;
    border-left: none;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .cc-btn .carousel-indicators {
    font-size: 14px;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-control-next-icon {
    width: 10px;
    left: 28px;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .cc-btn {
    width: 104px !important;
  }
  .left-container .budget-parent .budget-child1 {
    padding: 0px 16px;
  }
  .left-container .budget-parent .budget-child1 .budget-btn .btn:nth-child(2) {
    padding: 8px 14px;
    font-size: 12px;
  }
  .left-container .budget-parent .budget-child1 .budget-btn .btn:nth-child(1) {
    padding: 8px 14px;
  }
  .left-container .budget-parent .budget-child2 .price-section .nav-pills li a {
    padding: 8px 40px;
  }
  .budget-child2:nth-child(4) {
    order: 1;
  }
  .left-container .budget-parent .budget-child2 .price-section {
    margin-bottom: 15px;
  }
  .left-container .budget-parent .budget-child2 .adidas-logo {
    background-image: url("../images/mob-adidaslogo.png");
  }
  .add-player-catlog .save-btn {
    padding: 10px 75px;
    color: #111948;
    background-color: #FFD037;
    font-family: "opensan-regular-bold";
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  .left-container .budget-parent .budget-child2 .add-player-catlog .goal-kepeer {
    margin-bottom: 20px;
  }
  .right-container {
    width: 360px;
    position: absolute;
    z-index: 65;
    overflow: hidden;
    height: 0px;
    transition: 0.7s;
    bottom: -197px;
  }
  .right-container .player-form-section .tabel-section .table tbody tr td p:nth-child(2) {
    left: -28px;
    font-size: 8px;
  }
  .right-container .player-form-section .tabel-section .table tbody tr td p {
    left: -28px;
    font-size: 8px;
  }
  .table td, .table th {
    padding: 8px 0px;
  }
  .right-container .player-form-section .tabel-section .table .thead tr th {
    padding: 15px 8px;
  }
  .right-container .player-form-section .tabel-section .table tbody tr td {
    padding: 15px 4px;
  }
  .left-container .budget-parent .budget-child2 .filed-section .filed-car .carousel .carousel-control-prev {
    left: 255px !important;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #ffffff;
    border-left: none;
    border-right: 0px;
  }
  .right-container .player-form-section .player-form .form-group.sh {
    display: none;
  }
  .right-container .player-form-section .player-form .filter-section {
    color: #FFD037;
    font-size: 10px;
    font-family: "opensan-regular";
    justify-content: center;
  }
  .right-container .player-form-section .player-form .filter-section p {
    margin: 0 auto;
    position: absolute;
    margin-bottom: 20px;
  }
  .right-container .player-form-section .player-form .filter-section p:after {
    content: "";
    background-image: url("../images/icons/yellow-back.svg");
    display: inline-block;
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    transform: rotate(90deg);
    top: 1px;
    position: absolute;
    right: -20px;
  }
  .row1 {
    position: relative;
  }
}/*# sourceMappingURL=main.css.map */